
@{
    Layout = null;
}

@{ 
    string LabelTitle = "Index";
    string sekarang = DateTime.Now.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@LabelTitle</title>
</head>
<body>
    <div>
        Index, Sekarang jam @sekarang
    </div>
</body>
</html>
